header{
	height: 200px;
	width: 800px;
	border: 3px solid red;
	
}
nav{
	height: 400px;
	width: 100px;
	border: 3px solid orange;
	display: inline-block;
}
section{
	height: 400px;
	width: 700px;
	border: 3px solid orangered;
	display: inline-block;
}
footer{
	height: 200px;
	width: 800px;
	border: 3px solid gray;
	
}